@model IQueryable<Ad>
@inject clickAndV.Data.ApplicationDbContext context

@{
    ViewData["Title"] = "Categories";
    Category category = Model.First().Category;
}


<div class=" text-center border" style="height:337px; background-image:url(@category.Banner); background-size:contain; background-repeat:repeat-x; background-position:center">
</div>
<section class="d-flex flex-column flex-lg-row justify-content-center">

    <div class="border m-0 my-3">
        <section>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Chercher</button>
                    </form>
                    <div>
                        <label for="elementSelect" class="m-auto">Trier par:</label>
                        <select name="tables" id="elementSelect">
                            <option value="">--Choisissez une option--</option>
                            <option value="dateSort">Date</option>
                            <option value="UserSort">Utilisateur</option>
                            <option value="IsEnd">Terminés</option>
                            <option value="willBegin"> A venir</option>
                        </select>
                        <button type="button" id="button" onclick="searchByElement()">Trier</button>
                    </div>
                  
                        <a class="btn btn-dark" style="border-radius:50%" asp-controller="Ads" asp-action="Create">
                            +
                        </a>
                </div>
            </nav>
        </section>

        <section class="d-flex">
            <div class="d-flex flex-wrap container-fluid justify-content-center justify-content-lg-around">
                @foreach (Ad ad in Model)
                {
                    <div class="card my-3 mx-1 col-12 col-lg-auto" style="width: 25rem;">
                        <div style="height:170px; background-image:url(@ad.Banner); background-size:contain; background-repeat:no-repeat; background-position:center">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@ad.Title</h5>
                            <p class="card-text">@ad.Text</p>
                            <p class="card-text">
                                @if (ad.EndDate < DateTime.Now)
                                {
                                <p>Evenement terminé </p>}
                            else
                            {<p>Date de l'évènement: @ad.BeginDate </p>}
                                <a href="#" class="btn btn-primary">Accéder à l'@ad.Category.CategoryName</a>
                            </div>
                        </div>
                    }
            </div>
        </section>
    </div>
    <aside class="border m-0 my-3 ml-3">
        <iframe class="m-3" src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;src=Y2xpY2tudm9pc2luc0BnbWFpbC5jb20&amp;src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23616161&amp;color=%230B8043&amp;mode=MONTH&amp;showPrint=0&amp;showCalendars=0&amp;showTitle=0" style="border:solid 1px #777" width="220" height="300" frameborder="0" scrolling="no"></iframe>
    </aside>
</section>