@inject clickAndV.Data.ApplicationDbContext context
@{IQueryable<Category> categories = context.Categories.AsQueryable();}
<article>
    <h2>Catégories:</h2>

    <p>
        <a asp-controller="Categories" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    CategoryName
                </th>
                <th>
                    Banner
                </th>
                <th>
                    CreationDate
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(categoriesItem => item.CategoryName)
                    </td>
                    <td>
                        <img src="@item.Banner" alt="" style="height:50px" />
                    </td>
                    <td>
                        @Html.DisplayFor(categoriesItem => item.CreationDate)
                    </td>
                    <td>
                        <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                        <a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</article>
