@model IEnumerable<clickAndV.Models.Ad>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    @await Html.PartialAsync("_HeaderPartial")

</header>
<main>

<h1>Liste de tous les articles en base de donnée:</h1>

<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Category.Village.VillageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="overflow:hidden">
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Banner)" alt="" style="height:50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Village.VillageName)

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</main>